{% extends "base.html" %} {% load static %}
{% block title %}TASK LIST{% endblock title %} {% block content %}
<section class="main-section">
    <div class="section-center">
        <article class="task">
<form method="post" action="/tasks/" class="task-form">
    {% csrf_token %} {{form.title}}
    <!-- <input type="submit" name="Create Task" /> -->
    <button type="submit" class="btn submit-btn">Add</button>
  </form>
  {% for task in task %}
  <article>
    <h3 class="tasks">
    {% if task.complete == True %}
    <strike>{{task}}</strike>
    {% else %}
    <p>{{task}}</p>
    {% endif %}
  </h3>
    <div class="up-del-btns">
  
    <button class="btn update-btn"><a class="update-link" href="{% url 'update_task' task.id %}">Update/edit</a></button>
    <button class="btn delete-btn"><a class="delete-link" href="{% url 'delete_task' task.id %}">Delete</a></button>
    <br />
    
  </div>
  
  </article>
  

  {% endfor %}
</section>
    </div>
  
        </article>
        
{% endblock content %}
